/* Global Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
/* Body Styles */
body{
    background: #B6CCFE;
    color: black;
}
/* Container Styles  (middle-section) */
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
/* Styles for the top container of the middle section */
.container__top{
    flex-basis: 25%;
    max-height: 10%;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.container__top__btn{
    width: 10%;
    height: 90%;
    max-height: 50px;
    min-height:20px;
    margin: 0px 10px 0px 10px;
}
/* Styles for the lock/unlock button at the top container of the middle section */
.toggle-control {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control input:checked ~ .control {
    background-color: #490000;
}

.toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px; /* height of the toggle */
    width: 50px; /* width of the toggle */
    border-radius: 10px;
    background-color: #0f5132 ;
    transition: background-color 0.15s ease-in;

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        width: 20px; /* width  of the circle in the middle of toggle */
        height: 20px; /* height  of the circle in the middle of toggle */
        border-radius: 50%;
        background: white;
        transition: transform 0.15s ease-in;
        transform: translateX(5px);
    }
}

.toggle-control input:checked ~ .control:after {
    transform: translateX(25px);
}

/* Styles for the  middle container of the middle section */
.container__middle{
    flex-basis: 50%;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 90%;

}
.container__middle__top{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}
.container__middle__top--left, .container__middle__top--right{
    flex:1;
}
.container__middle__top__textarea{
    width: 100%;
    height: 100%;
    background: #D7E3FC;
    color: black;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    margin: 0px 5px 0px 5px;
    border: 2px solid #002945;
    border-radius: 20px;
}
.container__middle__bottom{
    width: 100%;
    flex: 1;
    margin: 30px 0px;
}
.container__middle__bottom__iframe{
    width: 100%;
    height: 100%;
    background: #E2EAFC;
    border: 5px solid #003356;
    border-radius: 20px;
    outline: 0;
}
/* styles for labels and logos for the output , html and css */
label i{
    margin: 0px 10px 0px 10px;
}
label{
    display: flex;
    align-items: center;
    background: #ABC4FF ;
    color: black;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
}
icon--copy{
    color: green;
}
btn-lock{
    background: #B6CCFE;
}
